.CardMain{
    background-color:  #232a3f;
}

label {
    background-color: rgb(230, 230, 230);
    display: block;
    width: 90%;
    margin: auto;
    padding-top: 15px;
    padding-bottom: 15px;
    cursor: pointer;
    border-radius: 30px;
}
label > span{
    margin-left: 10px;
    margin-right: 20px;
}
input{
    visibility:hidden;
}
input:checked + label {
    background-color: #e68230;
    color: white;
}